@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/fontawesome/less/font-awesome.less';
@import '../bower_components/swiper/src/less/swiper.less';
@import '../less/variables.less';

@fa-font-path:        "../bower_components/fontawesome/fonts";

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body, html {
    padding:0;
    margin:0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    overflow:hidden;

}

p {
    margin: 0 0 (@line-height-computed / 1);
}

img {
    max-height:100%;
}

.back {
    position:absolute;
    top:20px;
    left:30px;
    cursor:pointer;
}

.front {
    z-index:999 !important;
}

.blackout {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.7);
    display:none;
    z-index:21;

}

.cabinet {
    background:url('../img/cabinet4.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:1920px;
    width:1080px;

}

.cabinet-item {
    position: absolute;
    top: 200px;
    left: 240px;
    display:inline-block;
    transition: all 1s ease-in-out;
    cursor:pointer;
    z-index:20;

}

.cabinet-item img {
    margin: 0 auto;
}

.cabinet-item.item-1 {
    transform: translate(-290px, -172px) scale(0.5);
}

.cabinet-item.item-2 {
    transform: translate(260px, -172px) scale(0.5);
}

.cabinet-item.item-3 {
    transform: translate(-290px, 295px) scale(0.5);
}

.cabinet-item.item-4 {
    transform: translate(260px, 290px) scale(0.5);
}

.cabinet-item.item-5 {
    transform: translate(260px, 770px) scale(0.5);
}

.cabinet-item.item-6 {
    transform: translate(-290px, 770px) scale(0.5);
}

.cabinet-item.item-7 {
    transform: translate(260px, 1250px) scale(0.5);
}

.cabinet-item.item-8 {
    transform: translate(-290px, 1250px) scale(0.5);
}

.cabinet-item.active {
    z-index:999;
    transform: translate(0px, 0px) scale(1);
}

.overlay {
    z-index:10;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transform: translate(0,1920px);
    transition: all 0.5s ease-out;
    width:1080px;
    height:1920px;
    background:url('../img/paper2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.overlay.active {
    z-index:30;
    opacity:1;
    transform: translate(0px,0px);
}

.overlay h1 {
    -moz-font-feature-settings:"dlig=1";
    -moz-font-feature-settings:"dlig";
    -ms-font-feature-settings:"dlig";
    -o-font-feature-settings:"dlig";
    -webkit-font-feature-settings: "dlig";
    font-feature-settings:"dlig";
    font-style:italic;
    font-weight:600;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-bottom:1em;
}

.content-row {
    position:absolute;
    bottom:20px;
    left:60px;
    right:60px;
    // height:70%;
}

.content-row > * {
    transition: all 0.7s ease-out;
    opacity:0;
    transform: translate(-300px,0px);
}


.para-shown {
    opacity:1;
    transform: translate(0px,0px);
}
