@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/fontawesome/less/font-awesome.less';
@import '../bower_components/swiper/src/less/swiper.less';
@import '../less/variables.less';

@fa-font-path:        "../bower_components/fontawesome/fonts";

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body, html {
    padding:0;
    margin:0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    overflow:hidden;

}

p {
    margin: 0 0 (@line-height-computed / 1.2);
}

img {
    max-height:100%;
}

.back {
    position:absolute;
    top:0px;
    left:0px;
    padding:10px 15px;
    cursor:pointer;
    z-index:9;
    background: @brand-primary;
}

.front {
    z-index:999 !important;
}


 // Blackout layers

.blackout {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.7);
    display:none;
    z-index:21;

}

.overlay-blackout {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.85);
    display:none;
    z-index:21;

}

 // Cabinet

.cabinet {
    background:url('../img/cabinet4.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:1920px;
    width:1080px;

}

.cabinet-item {
    position: absolute;
    top: 115px;
    left: 240px;
    display:inline-block;
    transition: all 1s ease-in-out;
    cursor:pointer;
    z-index:20;

}

.cabinet-item img {
    margin: 0 auto;
}

.cabinet-item.item-1 {
    transform: translate(-290px, -105px) scale(0.5);
}

.cabinet-item.item-2 {
    transform: translate(260px, -88px) scale(0.5);
}

.cabinet-item.item-3 {
    transform: translate(-290px, 380px) scale(0.5);
}

.cabinet-item.item-4 {
    transform: translate(260px, 372px) scale(0.5);
}

.cabinet-item.item-5 {
    transform: translate(-290px, 859px) scale(0.5);
}

.cabinet-item.item-6 {
    transform: translate(260px, 847px) scale(0.5);
}

.cabinet-item.item-7 {
    transform: translate(-290px, 1390px) scale(0.5);
}

.cabinet-item.item-8 {
    transform: translate(260px, 1340px) scale(0.5);
}

.cabinet-item.active {
    z-index:999;
    transform: translate(0px, 0px) scale(1);
}


 // Overlay
.overlay {
    z-index:10;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transform: translate(0,1920px);
    transition: all 0.5s ease-out;
    width:1080px;
    height:1920px;
    background:url('../img/paper2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.overlay.active {
    z-index:30;
    opacity:1;
    transform: translate(0px,0px);
}

.overlay h1 {
    -moz-font-feature-settings:"dlig=1";
    -moz-font-feature-settings:"dlig";
    -ms-font-feature-settings:"dlig";
    -o-font-feature-settings:"dlig";
    -webkit-font-feature-settings: "dlig";
    font-feature-settings:"dlig";
    font-style:italic;
    font-weight:600;
    // border-top: 5px solid black;
    // border-bottom: 5px solid black;
    margin-bottom:0.6em;
}

.content-row {
    position:absolute;
    bottom:20px;
    left:60px;
    right:60px;
    margin-bottom:80px;
    // height:70%;
}

.content-row > * {
    transition: all 0.7s ease-out;
    opacity:0;
    transform: translate(-300px,0px);
}


.para-shown {
    opacity:1 !important;
    transform: translate(0px,0px) !important;
}

 // Swiper

 .swiper-container {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height: 830px;
}

.swiper-buttons {
    background:@brand-primary;
    padding:20px;
    height: 78px;
    width: 68px;
    font-size: 1.5em;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    .swiper-buttons;
    left: 0px;
    right: auto;
    .icon-color;
}

.swiper-button-next::after {
    content:'\f054';
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    .swiper-buttons;
    right: 0px;
    left: auto;
    .icon-color
}

.swiper-button-prev::after {
    content:'\f053';
}

.fa {
    .icon-color
}

.icon-color {
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: #fff;
    color:#fff;
    // text-shadow: 1px 2px 2px #fff;
}

.swiper-container-horizontal > .swiper-scrollbar, .swiper-pagination {
    display:none;
}


 // morph button
 .more-content {
     color:white;
     position:absolute;
     left:80px;
    //  border-radius:10px;
     right:80px;
     bottom:400px;
     top:400px;
     padding:0 30px;
     background-color: #8c1500;
     border:0;
     border-top:40px solid #721100;
     z-index:999;
     text-align: center;
     transform:scale(1);
     transition: all 0.7s ease-in-out;

 }

 .more-content h3 {
    //  margin:0;
     margin-bottom:2em;
     margin-top:1em;
     font-size:2em;
     font-style:italic;
     line-height:1em;
     transition: all 0.7s ease-in-out;
 }

 .more-close {
     position:absolute;
     top:0px;
     right:10px;
     cursor:pointer;
 }

 .more-content.button {
    //  position:initial;
    padding:0px;
    left:400px;
    right:400px;
     bottom:30px;
     top:1810px;
     border:1px solid #721100;
     transition: all 0.7s ease-in-out;
     cursor:pointer;
     transform: scale(0.8);
 }

 .more-content.button h3 {
     margin:0;
     font-size:1em;
     line-height:2.8em;
 }

 .more-content.button .more-close {
     display:none;
 }


 .more-content.button:hover {
     background-color: lighten(#8c1500,5%);
     border-color: #721100;
 }

 .more-content-text {
     display:none;
     text-align:left;
 }

 .more-content-text > * {
     opacity:0;
     transform: translate(0px,-200px);
     transition: all 0.4s ease-in-out;
 }

 .more-content-text h4, .more-content-text h5 {
     margin:0;
 }


.qr-col {
    width:155px;
    float:left;
}

.qr-row {
    width:100%;
    margin-bottom:60px;
    display:table;
}

.qrcode {
    text-align:center;
}
