<!DOCTYPE html>
<html>
<head>
    <title>cabinet</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="cabinet">
        <div class="cabinet-item item-1">
            <img src='../img/prop1.png'>
        </div>
        <div class="cabinet-item item-2">
            <img src='../img/prop2.png'>
        </div>
        <div class="cabinet-item item-3">
            <img src='../img/prop3.png'>
        </div>
        <div class="cabinet-item item-4">
            <img src='../img/prop4.png'>
        </div>
        <div class="cabinet-item item-5">
            <img src='../img/prop5.png'>
        </div>
        <div class="cabinet-item item-6">
            <img src='../img/prop6.png'>
        </div>
        <div class="cabinet-item item-7">
            <img src='../img/prop7.png'>
        </div>
        <div class="cabinet-item item-8">
            <img src='../img/prop8.png'>
        </div>
    </div>
    <div class="blackout"></div>
	<div class="overlay">
        <i class="fa fa-arrow-circle-o-left fa-3x back"></i>
        <div class="item-content">

        </div>
    </div>
</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/swiper/dist/js/swiper.jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/hammerjs/hammer.js"></script>
<script src="../bower_components/jquery-hammerjs/jquery.hammer.js"></script>
<script src="../bower_components/qrcodejs/qrcode.min.js"></script>
<script src="../js/main.js"></script>
<script>

var app = new App();
app.init();


</script>
</html>
