<!DOCTYPE html>
<html>
<head>
    <title>cabinet</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="cabinet">
        <div class="cabinet-item item-1">
            <img src='../img/prop1.png'>
        </div>
        <div class="cabinet-item item-2">
            <img src='../img/prop2.png'>
        </div>
        <div class="cabinet-item item-3">
            <img src='../img/prop3.png'>
        </div>
        <div class="cabinet-item item-4">
            <img src='../img/prop1.png'>
        </div>
        <div class="cabinet-item item-5">
            <img src='../img/prop2.png'>
        </div>
        <div class="cabinet-item item-6">
            <img src='../img/prop3.png'>
        </div>
        <div class="cabinet-item item-7">
            <img src='../img/prop1.png'>
        </div>
        <div class="cabinet-item item-8">
            <img src='../img/prop2.png'>
        </div>
    </div>
    <div class="blackout"></div>
	<div class="overlay">
            <div class="content-row">
                <h1>An Item Name</h1>
                <p>Id labore quis aute nulla adipisicing. Aute Lorem excepteur id veniam ipsum labore aute irure velit minim. Labore do laboris laborum excepteur voluptate occaecat tempor mollit. Sunt ullamco ullamco occaecat dolor excepteur dolore quis id excepteur adipisicing minim. Esse adipisicing consequat pariatur voluptate laborum qui. Occaecat ullamco tempor aute culpa sunt irure sunt dolore non. Lorem occaecat minim adipisicing in in exercitation amet excepteur. Exercitation pariatur sunt sit ex nostrud consequat dolore quis consequat consectetur exercitation consequat ullamco laborum.</p>
                <p>Reprehenderit sit veniam amet cupidatat consequat in sit consequat ad commodo Lorem sunt enim voluptate. Eu occaecat aute Lorem quis occaecat magna. Duis non et enim culpa quis dolor aliqua nulla eu aliqua commodo ipsum. Ullamco commodo tempor dolor ea id consequat duis pariatur nulla. Veniam nulla fugiat excepteur eu sit proident in. Deserunt reprehenderit labore excepteur anim nisi ut qui et labore esse. Ex ipsum consectetur elit cupidatat anim eiusmod officia irure culpa officia elit mollit culpa. Dolore ad ad incididunt cillum culpa qui dolore ipsum cupidatat aliquip duis enim nisi. Ex est Lorem irure voluptate pariatur sunt eu ut aute ipsum.</p>
                <p>Culpa velit deserunt ex elit exercitation irure laborum ea laboris consectetur in. Nostrud ipsum ea pariatur anim consectetur mollit irure non. Commodo eiusmod et nostrud laboris cillum et aliquip sint velit est. Nostrud pariatur esse consectetur culpa anim. Dolor tempor nostrud qui eiusmod id aliqua tempor consectetur pariatur aute officia.</p>
            </div>
    </div>
</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/hammerjs/hammer.js"></script>
<script src="../bower_components/jquery-hammerjs/jquery.hammer.js"></script>
<script src="../js/main.js"></script>
<script>

var app = new App();
app.init();


</script>
</html>
